include _header
  h1 Thank you 
    if(name)
      |#{name} 
    |for standing for forests

  p Hi there, your order on Stand For Trees has been completed. Please find your Detailed Report attached

  h3 Order #: #{order}
  h3 Date: #{date}


  table.pTable
    tr
      th Order Type
      td #{type}
    tr
      th Total Price
      td #{price}
    if(projects)
      tr
        th Projects
        td
          each project in projects
            p.right #{project}
    if(extras)
      tr
        th Extras
        td
          each extra in extras
            p.right #{extra}

  if(discount)
    p.orderN For your purchase you're entitled to a rebate code of $#{discount.value} on your next Business Calculator Badge: 
    code #{discount.code}

  p.orderN Note: You should find an additional email sent with the carbon credits retirement certificates attached.

  p.support Thank you for your support.

  include _footer