include _header
  h1 Thank you 
    if(name)
      |#{name} 
    |for standing for forests

  p Hi there, your recent badge 
    if(projects)
      |reservation 
    |order on Stand For Trees has been completed. 

  h3 Order #: #{order}
  h3 Date: #{date}


  table.pTable
    tr
      th Selected Badge
      td #{badge}
    tr
      th Offset Tonnes of CO2:
      td #{tonnes}
    tr
      th Total Price
      td #{price}
    if(projects)
      tr
        th Projects
        td
          each project in projects
            p.right #{project}
    if(extras)
      tr
        th Extras
        td
          each extra in extras
            p.right #{extra}
  if(projects)
    p.orderN Note: You should receive an email with a contract to sign. Once signed you'll receive a payment link with instructions on the last steps of the process.

  p.support Thank you for your support.

  include _footer