include _header

  h1 Thank you for standing for forests

  p Your badge, content and reporting, as well as, other assets are all available in your user account here, or please login when convenient.
  p Your receipt and order summary is also provided below. 

  if(level > 2)
    p The content and reporting package purchased includes a dedicated relationship manager. They will introduce themselves and reach out in the next week.

  p Please contact 
    a.purchase(href="mailto:info@standfortrees.org" target="_blank") info@standfortrees.org
    |&nbsp;if you need assistance

  h3 Order #: #{order}
  h3 Date: #{date}


  table.pTable
    tr
      th Obtained Badge
      td #{type}
    tr
      th Total Price
      td #{price}
    if(tonnes)
      tr
        th Tonnes Offset
        td #{tonnes} CO2e
    if(issued)
      tr
        th Issued Date
        td #{issued}
    if(expiry)
      tr
        th Expiry Date
        td #{expiry}

  if(report)
  table.pTable
    tr
      th Downloadable
      td Detailed Emissions Report


  if(projects)
    table.pTable
      tr
        th Projects Supported
        th.right Complimentary Items
      each project in projects
        tr
          td 
            p.left #{project.name}
            p.left #{project.country}

          if(project.bundle)
            p.right Images Bundle
          if(project.extras)
            each extra in project.extras
              p.right #{extra}


  if(terms)
    p.orderN As a reminder the terms and conditions for use of the report are attached to this email as a pdf.

  if(discount)
    p.orderN For your purchase you're entitled to a rebate code of $#{discount.value} on your next Business Calculator Badge: 
    code #{discount.code}



  include _footer