include _header
  h1 Thank you for standing for forests

  p A 35 day reservation has been made for your recent badge order.
  p Under separate email you should receive your contract to review and sign digitally.
  p Following signature, your check out options, and invoice if requested, are provided to complete your order.

  h3 Order #: #{order}
  h3 Reservation Creation: #{date.substring(0, 10)}
  h3 Reservation Expiry: #{expiryDate.substring(0, 10)}


  table.pTable
    tr
      th Selected Badge
      td #{badge}
    tr
      th Offset Tonnes of CO2:
      td #{tonnes}
    tr
      th Total Price
      td #{price}
    if(projects)
      tr
        th Projects
        td
          each project in projects
            p.right #{project}
    if(extras)
      tr
        th Extras
        td
          each extra in extras
            p.right #{extra}

  include _footer